* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --green: #44A65C;
    --gold: #A68B6A;
    --cool: #014011;
    --warm: #8C5F4F;
    --dark: #000000;
    --light: #FFFFFF;
}

body {
    background-color: var(--dark);
}

.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}