* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
    --green: #44A65C;
    --gold: #A68B6A;
    --cool: #014011;
    --warm: #8C5F4F;
    --dark: #000000;
    --light: #FFFFFF;
}

body {
    background-color: var(--dark);
}

.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.feature {
    font-weight: 400;
    margin-top: 10px;
    padding-top: 20px;
    color: var(--gold);
    text-align: center;
    
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 400;
    margin-top: 10px;
    padding-top: 20px;
    
}